/* Remove all margins from ALL parent containers */
* {
  margin: 0;
  padding: 0;
}

#root, body, html {
  margin: 0 !important;
  padding: 0 !important;
}

#root > div {
  margin: 0 !important;
  padding: 0 !important;
}
